/* Topmost declarations */
/* TODO: Use constant for sizing, colors, etc */

:root {
  background-color: black;

  /* Internal tests */
  --custom-root: 0;
}

/* Internal tests */
html {
  --custom-html: 0;
}

/* Internal tests */
body {
  --custom-body: 0;
}

#playground {
  /* Playground size */
  position: relative;
  width: 512px;
  height: 512px;
  border: 1rem solid white;
  margin: auto;
}

#bomber {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: orangered;
}

#bomb {
  position: absolute;
  display: none;
  width: 32px;
  height: 32px;
  background-color: palegreen;
  border-radius: 50%;
  opacity: 10%;
  transform: scale(0.5);
  transition: all ease-in;
}

.explode {
  background-color: red !important;
  border-radius: 0% !important;
  opacity: 100% !important;
  transform: scale(3) !important;
}

.opponent {
  width: 32px;
  height: 32px;
  background-color: navy;
  position: absolute;
}
