/* Topmost declarations */
/* TODO: Use constant for sizing */

:root {
  background-color: black;
}

/* Internal tests */
html {
  --custom: 0;
}

/* Internal tests */
body {
  --custom: 0;
}

#playground {
  /* Playground size */
  width: 512px;
  height: 512px;
  border: 1rem solid white;
  margin: auto;
  position: relative;
}

#bomber {
  width: 32px;
  height: 32px;
  background-color: orangered;
  position: absolute;
}

.opponent {
  width: 32px;
  height: 32px;
  background-color: navy;
  position: absolute;
}
